* {
  margin: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: #12ff02;
}

html,
body {
  height: 100%;
}

.caixa-1 {
  width: 99.5rem;
  height: 74.7rem;
  background-color: rgb(73, 71, 71);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

header {
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

header h2 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4rem;
  display: flex;
  align-items: center;
  text-align: justify;
}

section {
  border-radius: 50rem;
  width: 99.5rem;
  height: 29.3rem;

  background-color: green;
  border: 1px solid #000000;
  
}

h1,
h2 {
  font-family: 'Offside', cursive;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  text-align: justify;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  margin-right: 5rem;
  margin-bottom: 7.6rem;
}

.img2 {
  margin-right: 3.9rem;
  margin-bottom: 2rem;
}
