* {
  margin: 0%;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
}
.container {
  width: 37.5rem;
  height: 41.8rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url(https://toppng.com/public/uploads/preview/toyota-supra-toyota-sportscar-red-rear-view-dark-backlight-11570037724nmzk1wbuci.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

audio {
  width: 100%;
}
