* {
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --p-color: #ffa5a5;
  --s-color: #bdbbbb;
  --t-color: #128d0f;
  --q-color: #043c2e;
  --c-color: #ff0000;

  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
}
.fundo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  position: absolute;
  width: 44.7rem;
  height: 62.9rem;

  background: rgb(223, 223, 223);
  border: 2px solid #059700;
}

.titulo {
  font-family: 'Jura';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;

  color: #000000;
}
.enunciado {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
}
.botao-1 {
  font-family: 'DM Sans', sans-serif;
  border: 1px solid #8d0000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.8rem 1.6rem 3.2rem;
  gap: 1.6rem;

  position: relative;
  width: 17rem;
  height: 5rem;

  color: #8d0000;
  border-radius: 8rem;

}
.botao-2 {
  font-family: 'DM Sans', sans-serif;
  border: 1px solid #00856f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 3.8rem 1.6rem 3.2rem;
  gap: 1.6rem;

  position: relative;
  width: 17rem;
  height: 5rem;
  margin-left: 3rem;

  color: #00856f;
  border-radius: 8rem;
}
.frasefinal {
  font-family: 'Jura';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;

  color: #000000;
}
h1,
p,
.botoes {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao-2:hover {
  color: white;
  background-color: #00856f;
  cursor: pointer;
}
.botao-1:hover {
  color: white;
  background-color: #8d0000;
  cursor: pointer;
}
