* {
  margin: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: rgba(45, 49, 51, 0.81);
}

html,
body {
  height: 100%;
}
.segundo {
  width: 60rem;
  height: 62.9rem;
  background: rgba(45, 49, 51, 0.81);
  border: 2px solid #059700;
  align-items: center;
  border-radius: 3rem 3rem 3rem 3rem;
}
.video {
  width: 54.9rem;
  height: 28.1rem;
  margin-top: 5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.volta {
  width: 51px;
  height: 17px;
  font-family: 'Jura';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 1.2rem;
  margin-top: 1.2rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: green
}

