* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Kanit', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1595472968262-48209bf5b390?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
}

html,
body {
  height: 100%;
}

h1 {
  text-align: center;
}

.container h1 {
  color: rgb(58, 160, 27);
}

#form-record {
  margin-top: 2rem;
  margin: 0 auto;
  width: 50%;
  display: grid;
}

input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  color: rgb(58, 160, 27);
}

textarea {
  border: 1px solid black;
  border-radius: 0.3rem;
}

#addButton {
  border: 1px solid rgb(58, 160, 27);
  text-transform: uppercase;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  background-color: black;
  color: rgb(9, 85, 6);
}

#addButton:hover {
  background-color: rgb(11, 58, 2);
  color: rgb(58, 160, 27);
}

#section-registration {
  margin-top: 3rem;
}

#section-registration h2 {
  text-align: center;
  color: rgb(58, 160, 27);
}

#firtsName,
#lastName,
#address,
#city,
#cod,
#country,
#phoneNumber,
#email {
  border: 1px solid rgb(58, 160, 27);
}

label {
  color: rgb(58, 160, 27);
}

ul {
  list-style: none;
  max-height: 28rem;
  min-height: 28rem;
  overflow-y: auto;
  scrollbar-width: thin;
  width: 60%;
}

li {
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(58, 160, 27);
}

#tbody-messages {
  color: rgb(58, 160, 27);
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
