<div class="d-flex flex-grow-1">
  <div class="d-flex justify-center flex-column">
    <div class="container-video h-100 w-100 ">
      <vm-player controls>
        <vm-video cross-origin="true" poster="https://media.vimejs.com/poster.png">
         <source data-src="https://media.vimejs.com/720p.mp4" type="video/mp4" />
          <track
            default
            kind="subtitles"
            src="https://media.vimejs.com/subs/english.vtt"
            srclang="en"
            label="English"
          />
        </vm-video>
      </vm-player>
    </div>
    <div class="p-4 mx-auto">
      <section class="d-flex justify-content-start gap-4">
        <div class="flex-grow-1">
          <h1>Logica de Programação</h1>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eum quis itaque illum libero dolore iusto odio possimus voluptatum aspernatur, soluta expedita, qui nam aut quos! Laudantium perferendis magnam fuga!</p> 

          <div class="d-flex align-items-center gap-2 mt-3">
            <img
            class="rounded-5 border"
            width="50"
            height="50"
            src="https://scontent.ffbe1-1.fna.fbcdn.net/v/t39.30808-6/291654138_1882011632004774_3836369519714077231_n.jpg?stp=dst-jpg_p526x296&_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeG5lJ3Eb25kt62mCLScsrfzHF1h0QhHjowcXWHRCEeOjPSPz7LlQ1MloiAu4ZR3LiIOIvgpzUcIOY1O35cpZMHZ&_nc_ohc=SuOMhkYG1m4AX-XCH7g&_nc_ht=scontent.ffbe1-1.fna&oh=00_AT_KEvSJ9z-et3j-GtPGSv64ouozwqPfim1enz1j85lGGw&oe=62E80511" alt="">
            <div class="">
              <strong>Kauã</strong>
              <span class="d-block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus voluptas, non nostrum architecto, consequuntur voluptatem pariatur placeat corporis eius ad ipsam temporibus vel nulla voluptatum dignissimos excepturi tempora, facilis aut.</span>
            </div>
          </div>
        </div>
      </section>
      <section>

      </section>
    </div>
  </div>
</div>