<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{nameParam}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{subtitleParam}}</h6>
    <p class="card-text">{{bioParam}}</p>
    <a href="{{link1Param}}" class="card-link">youtube</a>
    <a href="{{link2Param}}" class="card-link">google</a>
  </div>

  <h2 *ngIf="author == 'f'; else ehDoce">
    cajuzinho
  </h2>
  <ng-template #ehDoce>
    <h2>Chocolate</h2>
  </ng-template>
  
  <button (click)="addNameOnList()" class="btn btn-outline-success">
    adicionar
  </button>

  <app-card-list
  [listParam]="list"
  [removeParam]="remove"
  >lista:</app-card-list>


</div>