* {
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --p-color: #ffa5a5;
  --s-color: #bdbbbb;
  --t-color: #128d0f;
  --q-color: #043c2e;
  --c-color: #ff0000;

  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
}
.img {
position: absolute;
width: .5rem;
height: 4.8rem;
}
.audio {
  margin-top: auto;
}
.audio,
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
