* {
  margin: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(90, 86, 71);
  font-family: 'Russo One', sans-serif;
  font-size: 1.6rem;
  background-image: url(https://images.unsplash.com/photo-1519817914152-22d216bb9170?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765);
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header, main, footer {
  width: 80%;
  margin: 0% auto;
  background-color: rgb(90, 86, 71);
}

main {
  display: flex;
  padding: 3rem;
}

main section h1 {
  font-size: 5rem;
}

main section p {
  text-align: justify;
  line-height: 2.5rem;
}

main section:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-inline: 2rem;

}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

header li {
  margin-right: 4rem;
}

a {
  text-decoration: none;
}

header h3 {
  color: #E8C456;
}

header h3:hover {
  color: #E8C456;
  font-size: 2rem;
  box-shadow: 2px 2px #E3CF4D;
  
}

footer {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.social i{
  margin-right: 1rem;
}
.social i:hover {
  color: #E8C456;
}

.fa-arrow-up-long {
  color: black;
}

.fa-arrow-up-long:hover{
  color: #E8C456;
}

.social a{
  text-decoration: inherit;
  color: inherit;
}

.direct {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.botoes button {
  text-transform: uppercase;
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 3rem;
  color:black;
  background-color: rgb(90, 86, 71);
  cursor: pointer;
  border-color: 1rem black;
}

.botoes button:hover{
  background-color: #E8C456;
  color: black;
  border:rgb(90, 86, 71);
}

.motores {
background-color: rgb(63, 58, 42);
margin-bottom: 2rem;
padding: 2rem;
}

.motores h2, ul {
  color: #E8C456;
}

.motores ul {
  list-style-type: none;
}

.motores ul li {
  margin-top: 1.5rem;
}