<div class="cursor-pointer">
  <span class="date-format">
    28/07/2022
  </span>

  <div class="car-lesson rounded p-2 mt-2">
    <header class="d-flex justify-content-between aling-items-center">
      <span class="d-flex aling-items-center gap-2 text-success">
        <i class="fa-solid fa-square-check "></i>
        Conteudo Liberado
      </span>
      <span class="span-type px-2 rounded">
        aula prática
      </span>
    </header>

    <strong class="d-block mt-3">
      Aula de Logica de Programação
    </strong>
  </div>
</div>